.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.box{
  width: 431px;
  height: 50vh;
  margin: 10rem;
  background: rgb(0 196 255);
}

.controls{
  width: 40vw;
}

#result{
  font-size: 19px;
  padding: 29px 69px;
}

img{
  max-width:180px;
}
input[type=file]{
padding:10px;
background:#2d2d2d;}