.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
 

.box{
  width: 431px;
  height: 50vh;
  margin: 10rem;
  background: rgb(0 196 255);
}

.controls{
  width: 40vw;
}

#result{
  font-size: 19px;
  padding: 29px 69px;
  position: absolute;
  top: 1.2rem;
  background: #ddd;
  border: 1px solid #bfbfbf;
  border-radius: 18px;
  color: #1b1b1b;
  font-weight: 500;
}

